<script src="//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
<script type="text/javascript" src="js/flot-demo.js"></script>

<h1>Flot Stuff</h1>

<div id="placeholder" style="width:600px; height:300px"></div>
 
 <h1>Drinking Part 2</h1>

 <div id="hydration-week" style="width:600px; height:300px"></div>
 