<!DOCTYPE html>
<html>
<head>
	<title>Charting</title>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/charting.css">
	<link rel="icon" href="favicon.ico">
</head>
<body>
	<div class="container">
		<%= yield %>
	</div>
</body>
</html>