<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type="text/javascript" src="js/moris-demo.js"></script>

<h2>Morris Demo</h2>

<div id="myfirstchart" style="height: 250px;"> </div>

<h1>Joel's Drinking Habits</h1>
<div id="beverage-week-graph" style="height: 250px"> </div>

<h1>Today in Alcohol</h1>
<div id="beverage-day-graph" style="height: 250px"> </div>
